@charest "utf-8";

/* 스타일 초기화 */
*, *::before, *::after{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 10px;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}



/* 숨김 콘텐츠 */
.readable-hidden{
  position: absolute;
  overflow:hidden;
  clip:rect(0,0,0,0);
  margin: -1px;
}

/* 기본스타일 */
body{
  font-size: 1.4rem;
}

/* 컨테이너 */
.container{
  background: #fff;
}

.header, .visual, .main, .footer{
  width: 980px;
  margin: 0 auto;
}
.bg-footer{
  background: #fff;
}

/* 안내링크 */
.member{
  color: #fff;
  text-align: right;
  font-size: 0;
  padding: 2px 10px;
  margin-right: -10px;
}

.member li, .member a{
  display: inline-block;
}

.member li{
  font-size: 1.4rem;
  text-transform: uppercase;
}

.bar::before{
  content: ":";
  margin:0 1px;
}

.member a{
  padding: 5px 10px;
}

/* 헤더 */
.header{
  background: #013298;
  position: relative;
}
/* 로고 */
.logo{
  position: absolute;
  top: 45px;
  left: 15px;
}

/* 메인 메뉴 */
.menu{
  padding:18px 0 0 280px;
  height: 60px;
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  background:#fff;
}


.over_menubar, .under_menubar{
  padding: 0 20px;
}

.over_menubar:hover{
  color:red;
}

.under_menubar{
  display:none;
  position:absolute;
  color: #000;
}


.menu li:hover ul li {
 display: block;
}

/* 비주얼 */
.visual{
  padding: 0 0 10px 0;
}
/* 메인콘텐츠 */
.main{
  min-height: 450px;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  text-align: center;
}

.group1, .group3{
    line-height: 230px;
}

.group1{
  width: 610px;
  height: 470px;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  margin: 0 0 10px 0;
}
.group2{
  width: 350px;
  height: 470px;
  margin: 0 0 10px 0;
}
.group3{
  width: 610px;
  height: 230px;
  margin: 0 0 10px 0;
}
.group4{
  background:#fdd93d;
  width: 350px;
  height: 230px;
  line-height: 4.1rem;
  border-width:1px;
  border-style:solid;
  border-color: #b7b7b7;
  margin: 0 0 10px 0;
}

.notice{
  background: #fff;
  width: 300px;
  height: 230px;
  margin: 0 0 10px 0;
  border-width:1px;
  border-style:solid;
  border-color: #b7b7b7;
}

.notice2{
  background: #fff;
  width: 610px;
  height: 230px;
  margin: auto;
  border-width:1px;
  border-style:solid;
  border-color: #b7b7b7;
}

/* 푸터 */
.footer{
  height: 200px;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.footer_right{
  text-align: right;
}